<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Log In</title>
    <link rel="stylesheet" href="{%static 'poll/style_login.css' %}">
</head>
<body>
    <nav><a href="{%url 'home' %}">HOME</a> <a href="/admin">ADMIN</a>{%if user.is_authenticated%}% <a href="{%url 'sign-out' %}">LOG OUT</a> </nav>{%else%}<nav><a href="{%url 'authenticate' %}">LOG IN</a> </nav>{%endif%}
    <form method="post" action="{%url 'login' %}">
        {%csrf_token%}
        <label>UserName:</label><br>
        <input type="text" name="username"><br>
        <label>Password:</label><br>
        <input type="password" name="password" ><br>
        <input type="submit" value="Log In">
    </form>
    <h3><a href="{%url 'sign_up_form' %}">Sign Up</a></h3>
</body>
</html>