h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #205020;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #165198;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color:grey;
}